defaults
  log global
  mode tcp
  option dontlognull
  timeout connect 50000
  timeout client 50000
  timeout server 50000

frontend default_frt
  bind *:80
  acl loyalty_ep path_end -i /loyalty
  use_backend loyalty_backend if loyalty_ep

  acl orders_ep path_end -i /orders
  use_backend orders_backend if orders_ep

  acl delivery_ep path_end -i /delivery
  use_backend delivery_backend if delivery_ep

frontend prometheus
  bind *:7000
  default_backend prometheus_backend

frontend control-plane
  bind *:6443 
  default_backend kube-apiservers 

frontend graphana_interface
  bind *:3001
  default_backend graphana_server

frontend graphana_alerting
  bind *:9000
  default_backend graphana_alert_server

backend loyalty_backend
  server datacenter 3.136.68.73:8000 check inter 5s downinter 5s fall 3 rise 3
# server backup_server 0.0.0.0:2345 check backup

backend prometheus_backend
  server prom_serv localhost:9090

backend graphana_alert_server
  option httpchk GET /healthz
  server self_3123 localhost:3123

backend graphana_server
# http-request set-path %[path,regsub(^/grafana/,/,g)]
  option httpchk GET /healthz
  server master1 192.168.56.11:30000 check inter 5s downinter 5s fall 3 rise 3
  server master2 192.168.56.12:30000 check inter 5s downinter 5s fall 3 rise 3
  # server self_3000 localhost:3000

backend kube-apiservers 
  option httpchk GET /healthz
  server master1 192.168.56.11:6443 check check-ssl verify none
  server master2 192.168.56.12:6443 check check-ssl verify none

# backend flask_backend_public_cloud
  # server public_cloud localhost:8000 check inter 5s downinter 5s fall 3 rise 3
  #   server datacenter ec2-18-118-168-228.us-east-2.compute.amazonaws.com:8000 check inter 5s downinter 5s fall 3 rise 3

backend orders_backend
  # server public_cloud localhost:8001 check inter 5s downinter 5s fall 3 rise 3
  server public_cloud_master1 192.168.56.11:30749 check inter 5s downinter 5s fall 3 rise 3
  server public_cloud_master2 192.168.56.12:30749 check inter 5s downinter 5s fall 3 rise 3
  server datacenter 3.136.68.73:8000 check inter 5s downinter 5s fall 3 rise 3
  # server backup_server 0.0.0.0:2345 check backup

backend delivery_backend
  # server public_cloud localhost:8002 check inter 5s downinter 5s fall 3 rise 3
  server public_cloud_master1 192.168.56.11:30750 check inter 5s downinter 5s fall 3 rise 3
  server public_cloud_master2 192.168.56.12:30750 check inter 5s downinter 5s fall 3 rise 3
  server datacenter 3.136.68.73:8000 check inter 5s downinter 5s fall 3 rise 3

